<nav class="navbar navbar-inverse" style="background-color: #333; border-bottom: 5px solid; border-color: #DCDCDC; width: 100%" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="https://bitinfocharts.com/img/bitcoin%20gold.png">
      </a>
    </div>
 
  </div>
</nav>
