<%= form_with(model: cart, local: true) do |form| %>
  <% if cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

Если кто-нибудь будет это читать,знайте:я от нее устал.Первый раз это проявилось еще летом,но тогда я,как и во все прошлые подобные моменты,отказался принимать важное решение.И это очень и очень плохо.Просто сейчас нам простто некуда расходиться.Она никуда не сможет уйти.Вот сейчас очень бы хотелось не видеть ее.Просто чтобы она исчезла.Пропала с этой ебучей кровати.Потому что сейчас она сказала то,что говорить не следовало.Про бездарность.Проблема в том,что она реально так думает.А еще в том,что я ничего не хочу ей доказывать.И в том,что мне просто страшно.Страшно,что если мы расстанемся,я не смогу никого найти.Или не захочу.Я никогда не был уверен в себе.Но вот в плане внешности эта неуверенность всегда мне мешала.Или наоборот.
