.item{
     width: 485px;
     height: 200px;

   img{
     width: 180px;
     margin-right: 5px;
     margin-bottom: 5px;
     position: absolute;
     z-index: 1;
   }

   h3{
     font-size: 120%;
     font-family: sans-serif;
     margin-left: 190px;
     margin-top: 0;
     margin-bottom: 2px;
     color: #227;
   }

   h4{
     margin-left: 190px;
   }

   p, div.price_line{
     margin-left: 100px;
     margin-top: 80px;
     margin-bottom: 20px;
     margin-left: 190px;

     form, div {
       display: inline;
     }
   }

   .price{
     color: #44a;
     font-weight: bold;
     margin-right: 3em;
   }
  }
